body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: linear-gradient(to right, #7a44b361, #5b7bb26d); 
}

h1 {
    color: #333;
}

.logout-btn {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

.back-btn {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.back-btn:hover {
    text-decoration: underline;
}
